body{
    
    background-image:radial-gradient(circle, white,pink);  /*creates background color */
    
}


.First{
   width:65px;
   height:60px;
    border: 6px solid pink;
    background-image: linear-gradient(to right, rgba(160,0,0,0), rgba(99,0,0,1));
    box-shadow: 10px 10px 5px grey; /* creates shadow for first letter */
    transition: width 4s, height 2s, transform 1s;
    
    
    
}



.First:hover{ /*makes transition for first letter to work */
width:100px;
height:100px;
}

     
.Second{
    width: 65px;
    height:60;
    border: 6px solid pink;
    background-image: linear-gradient(to right, rgba(160,0,0,0), rgba(99,0,0,1));
    box-shadow: 10px 10px 5px grey;
    transition: width 4s, height 2s, transform 1s;
}
.Second:hover{   /*makes second letter transition work */
width:100px;
height:100px;
}

.Third{
    width: 55px;
     height:60;
    border: 6px solid pink;
    background-image: linear-gradient(to right, rgba(160,0,0,0), rgba(99,0,0,1));
    box-shadow: 10px 10px 5px grey; 
    transition: width 4s, height 2s, transform 1s; /* width increases for 4s, height increases for 2s, transformation occurs for 1 s */
}
.Third:hover{ /* makes third letter transition work */
width:100px;
height:100px;
}

.Fourth{
    width: 55px;
    height:60;
    border: 6px solid pink;
    background-image: linear-gradient(to right, rgba(160,0,0,0), rgba(99,0,0,1));
    box-shadow: 10px 10px 5px grey; 
    transition: width 4s, height 2s, transform 1s; /* width increases for 4s, height increases for 2s, transformation occurs for 1s */
}

.Fourth:hover{ /*makes fourth letter transition work */
width:100px;
height:100px;

}

.Fifth{
   
    width:60px;
     height:60;
    border: 6px solid pink;
    background-image: linear-gradient(to right, rgba(160,0,0,0), rgba(99,0,0,1));
    box-shadow: 10px 10px 5px grey; 
    transition: width 4s, height 2s, transform 1s;
}
.Fifth:hover{ /*makes fifth letter transition work */
width:100px;
height:100px;
}

#blank{             /*class for animation picture */
    width:80px;
    height:80px;
    position:relative; /* musical note will be positioned according to where the original position is*/
    animation-name:note; /* name of animation */
    animation-duration:2s; /*amount of time the animation will last*/
   
}

@keyframes note{ /* allows animation to occur. Animation happens from left to right and returns from right to left */
    0% { 
        left: 0px;
        top:0px;
    }
    
   25%{
       left:200px;
       top:0px;
   }
   100% {
       left:0px;
       top:0px;
   }
}




